@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"); //font-family: 'DM Sans', sans-serif;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #222222;
    @apply font-body px-5;
  }
  .page-container {
    width: 1280px;
    @apply mx-auto mt-6;
  }
  .banner .swiper {
    height: 100%;
  }
  .movie-list .swiper-slide {
    width: 240px;
  }
}

// Pagination style
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
  .selected {
    @apply text-primary;
  }
}

// Skeleton style
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    90deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
